* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


html,body {
    width: 100%;
    height: 100%;
    background: #ffffff;
}



body header img {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 325px;
    animation-name: logo;
    animation-duration: 2s;
}


.ft1 {
    width: 100%

}

@keyframes logo {
    0% {
        width: 0px;
    }

    100% {
        width: 325px;
    }
}

body header h1 {
    font-weight: 600;
    font-size: 30px;
    color: white;
}


body header p {
    font-weight: 400;
    margin-top: 0;
    font-size: 15px;
    color: white;
}

.links {
    margin-top: 30px;
    text-align: center;
}

    body .links button {
        font-size: 15px;
        font-weight: 600;
        color: white;
        border: 3px solid #99cc33;
        border-radius: 8px;
        background-color: #0dadb9;
        height: 65px;
        width: 100%;
        max-width: 700px;
        margin: 15px 0;
        animation-name: button;
        animation-duration: 2s;
    }


        body .links button:hover {
            transition: 0.1s;
            width: 82%;
            background-color: #ff3284;
            cursor: pointer;
        }

            body .links button:focus {
                outline: none;
            }

@keyframes button {
    0% {
        background-color: none;
        width: 0;
        font-size: 0px;
    }
    100% {
        width: 80%;
        font-size: 15px;
}
}

footer {
    background-color: #ffffff00;
    border-top: 30px solid rgba(255, 255, 255, 0);
    text-align: center;
    padding: 10px 0 30px 0;
    margin-top: 15px;
}

    footer img {
        width: 212px;
    }

@keyframes footer {
    0% {
        color: #ffffff;
        font-size: 0;
    }

    90% {
        color: #ffffff;
        font-size: 0;
    }

    100% {
        font-size: 15px;
    }
}

/*BOLHAS*/

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  
  .link.highlight {
    background: #b366d8;
    border: 1px solid #b366d8;
    color: #fff;
    font-weight: bold;
  }

  /*teste */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}
div.align-card{
    display: flex;
    justify-content: center;
}

.card{
    z-index: 2;
}



