* {
    margin: 0;
    padding: 0;
  }
  
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(108, 130, 131);
    background: rgb(247,192,209);
    background: linear-gradient(176deg, rgba(247,192,209,1) 0%, rgba(201,242,244,1) 100%);
  }
  
  .avatar {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
  }
  
  h1 {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
  }
  
  h2 {
    font-size: 16px;
  }

  .novi {
    color: grey;
  }

.rodap {
    text-decoration: none;
    margin-left: 135px;
}
  
  .profile {
    margin-top: 20px;
    text-align: center;
  }
  
  .social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
  }
  
  .social img {
    width: 33px;
  }
  
  
  .links-list {
    list-style: none;
  }
  
  .links-list li {
    margin: 10px 20px;
  }
  
  .links-list li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .links-list li a.active {
    box-shadow: 0 0 20px white;
    color: rgb(54, 204, 172);
  }
  
  .links-list.second {
    margin-top: 30px;
  }

  .footer {
    background-color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    text-align: center;
    padding: 10px 0;
}

